@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

nav{
  background-color: #416444;
}

.brand-logo{
  margin-left: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: 20px !important;
}

@media only screen and (max-width: 800px) {
.brand-logo{
  font-size: 20px !important;
  margin-left: 0;
}
}

#nav-mobile{
  margin-right: 30px;
  font-weight: bold;
}

nav a{
  color: #B8B598 !important;
}

/* --------------------------jmbtrn------------------------- */
#jmbtrn{
  background-color: #416444;
  height: 630px;
  background-attachment: fixed;
}

.sidenav{
  background-color: #B8B598;
}

.sidenav li a{
  font-weight: bold;
  color: #416444;
}

.wrapper{
  margin-top: 50px;
  margin-left: 10px;
  color: #B8B598;
  position: absolute;
  overflow: hidden;
  transition: 1s;
  transform: translate(-50%, 0);
  opacity: 0;
}


.wrapper h1{
  font-weight: bold;
  font-family: 'Stick No Bills', sans-serif;
}

.wrapper p{
  text-align: justify;
  text-indent: 20px;
}

.wrapper a{
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 1px solid #B8B598;
  border-radius: 10px;
  margin-top: 30px;
  color: #B8B598;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
 .wrapper a{

 }
}



.wrapper2{
  width: 22%;
  background-image: url(../img/fotoq.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -550px;
  margin-right: 10%;
  border-radius: 20px !important;
  margin-left: 70%;
  overflow: hidden;
  transition: 2s;
  transform: translate(0, -50%);
  opacity: 0;
}

.wrapAnimate{
 transform: translate(0, 0);
 opacity: 1;
}

.foto{
  height: 400px;
}

.wrapper3{
  width: 20%;
  height: 700px;
  margin-top: -100px;
  margin-left: 80%;
  background-color: #B8B598 !important;
}


/* -----------------SKILL------------------ */
#skill{
background-image: url(../img/pattern3.png);
background-attachment:fixed;
padding-bottom: 30px;
}

.skill{
  color: #416444;
}

.skill h3{
  font-weight: bold;
}

hr{
  width: 50px;
  height: 5px;
  background-color: #363222;
  border: none;
}

.skillcard{
  width: 300px;
  margin-top: 30px;
  opacity: 0;
  transition: 2s;
  transform: translate(0, -40px);
}

.skillcard.muncul{
  opacity: 1;
  transform: translate(0, 0);
}

.sc1{
  margin-left: -100px;
}

.sc3{
  margin-left: 100px;
}

@media only screen and (max-width: 600px) {
  .sc1{
    margin-left: 50px;
  }

  .sc2{
    margin-left: 50px;
  }

  .sc3{
    margin-left: 50px;
  }
}

.skillcard i{
 padding: 20px;
 border-radius: 50%;
 border : 10px solid #416444;
 transition: .5s;
}

.skillcard i:hover{
  border : 10px solid #78a17f;
  background-color: #416444;
  color: white;
  cursor: pointer;
}

.determinate{
animation-name: determinate;
animation-duration: 2s;
}

@keyframes determinate {
  from {width: 0%;}
  to {width: 80%;}
}

/* -------------------------Pengalaman Kerja---------------- */
#pk{
  background-color: #416444;
  color: #B8B598;
  margin-top: -20px;
}

.pk1 h3{
  font-weight: bold;
  font-family: 'Stick No Bills', sans-serif;
}

.pk5 i, .pk5 p, .pk5 h5{
}

.pk5 p{

}

.pk5 i{
  margin-top: 10px;
}


.pk5 .card-panel{
  height: 300px;
  background-color: #B8B598;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
.pk5 i{
  margin-top: 30px;
}
.pk5 .card-panel{
  height: 700px;
}}

@keyframes animationWidth {
  from {width: 0%;}
  to {width: 100%;}
}



/* -------------------------Jasa---------------- */
#jasa{
  background-image: url(../img/doodles.png);
  background-attachment:fixed;
  height: 600px;
}

.jasa{
  margin-top: 50px;
}

.collapsible-header, .collapsible{
  border-radius: 30px;
  box-shadow: none;
  border: none;
}

.collapsible-header{
    background-color: #B8B598;
}

.collapsible-header h5{
font-weight: bold;
}

.collapsible-header i{
margin-top: 20px;
}

.collapsible{
  background-color: #5d8e5b;
}

/* -------------------------exp---------------- */
#exp{
  color: white;
}


.exp1{
  margin-top: 120px;
}

.exp1 i{
  padding: 10px;
  border: 10px solid #aad9ac;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .exp1{
    margin-top: 50px;
  }
}


/* -------------------------Portfolio---------------- */
#portfolio{
    background-image: url(../img/pattern2.jpg);
    background-attachment:fixed;
    padding-bottom: 30px;
}

#portfolio .card{
  opacity: 0;
  transition: 2s;
  transform: translate(0, -40px);
}

#portfolio .card.muncul{
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio{
  color: #416444;
}

.wrapportfolio{
padding: 100px;
}

.wrapportfolio .card-image{

}

@media only screen and (max-width: 600px) {
  .wrapportfolio{
  padding: 0;
  }
}

.portfolio h3{
  font-weight: bold;
}

.portfoliobtn{
  border-radius: 10px;
  background-color: #416444;
  width: 100%;
}

.portfoliobtn:hover{
  background-color: #B8B598;
}

.card-content h5{
  font-weight: bold;
  color: rgb(44, 64, 49);
}

/* -------------------------INVIT---------------- */
#invit{
  background-color: #416444;
  height: 700px;
  margin-top: -20px;
}

#invit .cp1{
  margin-top: 100px;
  border-radius: 30px;
  width: 80%;
  height: 500px;
  background-image: url(../img/webbuild3.jpg);
  background-size: cover;
  background-position: center;
}

#invit .cp2{
  padding: 50px;
  text-align: center;
  margin-left: 400px;
  margin-top: -400px;
  border-radius: 30px;
  width: 50%;
  height: 400px;
  background-color: #B8B598;
}

.cp2 h4{
color: #171717;
margin-bottom: 60px;
font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #invit .cp1{
  margin: auto;
  opacity: 0;
  }

  #invit .cp2{
  margin: auto;
  margin-top: -400px;
  width: auto;
  height: auto;
  }

  #invit{
    height: 500px;
  }
}

/* -------------------------SERTIFIKAT---------------- */
#sertifikat{
background-image: url(../img/pattern1.jpg);
background-attachment:fixed;
padding-bottom: 30px;
}


.sertifikat{
    color: #416444;
    transition: 1s;
    opacity: 0;
    transform: rotate(90deg);
}

.sHead h3{
    color: #416444;
    font-weight: bold;
}

#sertifikat .sertifikat.muncul{
  opacity: 1;
  transform: rotate(0);
}

.sertifikat .card .card-image{
  border: 5px solid #416444;
  border-radius: 5px;
}

.sertifikat .card .card-image:hover{
  border: 5px solid #B8B598;
}

/* -------------------------Contact---------------- */
#contact{
  background-image: url(../img/computerijo2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 0 30px 0;
}

.contact{
  margin-top: 50px;
}

.contact-email{
  background-color: #B8B598;
}

.contact-email h5{
  font-weight: bold;
    color: #2e2e2e;
}

.contact-email p, .contact-email i{
    color: #2e2e2e;
}

.icon-contact a{
  text-align: center;
  color: #2e2e2e;
}

.icon-contact a:hover{
  color : salmon;
}

.icon-contact a:nth-child(2), .icon-contact a:nth-child(3), .icon-contact a:nth-child(4){
  margin-left: 20px;
}

form .btn{
  background-color: #6b7a4f;
  width: 100%;
}

.contactme h5{
  font-weight: bold;
  color: #2e2e2e;
}

.message h5{
  font-weight: bold;
  color: #2e2e2e;
}

/* -------------------------Copyright---------------- */
#copyright{
  background-color: #B8B598;
  padding: 1px;
  box-sizing: content-box;
  max-height: 80px;
}

.copyright{
  font-weight: bold;
}

.copyright p{
  padding-top: 20px;
}
